<header data-ng-switch="$location.path().indexOf('/Temperatures/new') > -1">
    <h3 data-ng-switch-when="true">Create a new Temperature</h3>
    <h3 data-ng-switch-when="false">View or edit Temperature</h3>
</header>
<form id="TemperatureForm" name="TemperatureForm" class="form-horizontal" role="form">
    
    <div class="form-group" data-ng-class="{'has-error': TemperatureForm.tempTimestamp.$invalid}">
        <label for="tempTimestamp" class="col-sm-2 control-label">Temp Timestamp</label>
        <!--  div id="tempTimestampControls" class="col-sm-10">
            <datetime id="tempTimestamp" name="tempTimestamp" data-ng-model="temperature.tempTimestamp" placeholder="Enter the Temperature Temp Timestamp"></datetime>
            <span class="help-block error" data-ng-show="TemperatureForm.tempTimestamp.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div-->
    </div>

    <div class="form-group" data-ng-class="{'has-error': TemperatureForm.temperature.$invalid}">
        <label for="temperature" class="col-sm-2 control-label">Temperature</label>
        <div id="temperatureControls" class="col-sm-10">
            <input id="temperature" name="temperature" type="number" class="form-control" data-ng-model="temperature.temperature" placeholder="Enter the Temperature Temperature"></input>
            <span class="help-block error" data-ng-show="TemperatureForm.temperature.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': TemperatureForm.sensor.$invalid}">
        <label for="sensor" class="col-sm-2 control-label">Sensor</label>
        <div id="sensorControls" class="col-sm-10">
        <select id="sensor" name="sensor" class="form-control" data-ng-model="sensorSelection" data-ng-options="s.text for s in sensorSelectionList"  >
            <option value="">Choose a Sensor</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveTemperature" name="saveTemperature" class="btn btn-primary" data-ng-disabled="isClean() || TemperatureForm.$invalid" data-ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" data-ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteTemperature" name="deleteTemperature" class="btn btn-danger" data-ng-show="temperature.temperatureId" data-ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>