<div class="form-horizontal">
    <h3>Create a new Temperature</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" class="btn btn-primary" href="#/Temperatures/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Temperatures</h3>
    <form id="TemperatureSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="temperature" class="col-sm-2 control-label">Temperature</label>
        <div class="col-sm-10">
            <input id="temperature" name="temperature" class="form-control" type="text" data-ng-model="search.temperature" placeholder="Enter the Temperature Temperature"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="sensor" class="col-sm-2 control-label">Sensor</label>
        <div class="col-sm-10">
            <select id="sensor" name="sensor" class="form-control" data-ng-model="search.sensor" data-ng-options="s as s.address for s in sensorList">
                <option value="">Choose a Sensor</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" class="btn btn-primary" data-ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Temp Timestamp</th>
                    <th>Temperature</th>
                    <th>Sensor</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr data-ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Temperatures/edit/{{result.temperatureId}}">{{result.tempTimestamp| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Temperatures/edit/{{result.temperatureId}}">{{result.temperature}}</a></td>
                        <td><a href="#/Temperatures/edit/{{result.temperatureId}}">{{result.sensor.address}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li data-ng-class="{disabled:currentPage == 0}">
            <a id="prev" data-ng-click="previous()">«</a>
        </li>
        <li data-ng-repeat="n in pageRange" data-ng-class="{active:currentPage == n}" data-ng-click="setPage(n)">
            <a data-ng-bind="n + 1">1</a>
        </li>
        <li data-ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" data-ng-click="next()">»</a>
        </li>
    </ul>

</div>