<script type="text/javascript">

function drawTanks() {			
	var accsvg = $.ajax({
	 	url: "rest/svg/heating",
		dataType:"svg",
		async: false
		}).responseText;
	document.getElementById('content').innerHTML = accsvg;
}
function drawContent(){
	if(content=='chartByID'){
		drawChart(baseurl+requestByID+request+'/'+time,'content',options);
		showSlider(); 
	}
	else if(content=='chartByType'){
		drawChart(baseurl+requestByType+request+'/'+time,'content',options);
		showSlider(); 
	}else {
		 drawTanks();
		 hideSlider();
		}		
}
function showSlider(){
	document.getElementById("range_output").style.display = 'block';
	document.getElementById("chart_range").style.display = 'block';	
		
}
function hideSlider(){
	document.getElementById("range_output").style.display = 'none';
	document.getElementById("chart_range").style.display = 'none';	
}
var options = {
		chartArea: {width: '100%', height: '100%'},
		legend: {position: 'in'},
		titlePosition: 'in', axisTitlesPosition: 'in',
		hAxis: {textPosition: 'none'}, 
		vAxis: {textPosition: 'in'}
	};
var content='tanks';
var baseurl='rest/data/';
var requestByID = 'getdatatable/';
var requestByType = 'getdatatablebytype/';
var request='';
var time="360";
hideSlider()
drawTanks();
setInterval(drawContent,60000);


$('#stove_btn').click(function () {request = '3,4,5'; content='chartByID'; drawContent();});
$('#acc_btn').click(function () {request = '6,7,8'; content='chartByID'; drawContent();});
$('#vp_btn').click(function () {request = '31';  content='chartByID'; drawContent();});
$('#floor_btn').click(function () {request = 'HEATING_FH';  content='chartByType'; drawContent();});
$('#tanks_btn').click(function () {content='tanks'; drawContent();});
$('#chart_range').change(function () {time = document.getElementById('chart_range').value; drawContent(); });

document.getElementById("chart_range").oninput = function() {
	time = this.value
	var hours = this.value/60;
	var hoursString=' Timmar';
	if(hours==1){hoursString= ' Timme';}
	document.getElementById("range_output").innerHTML = hours+hoursString;
}
</script>
<div class="text-center">
	<div class="btn-group btn-group-xs">
		<button id="tanks_btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></button>
		<button id="stove_btn" type="button" class="btn btn-default">Vedspisen</button>
		<button id="acc_btn" type="button" class="btn btn-default">Tanken</button>
		<button id="vp_btn" type="button" class="btn btn-default">Värmpumpen</button>
		<button id="floor_btn" type="button" class="btn btn-default">Golvvärmen</button>
	</div>
	<div id="content"></div>
	<input type="range" min="60" max="1440" value="360" step="60"
		id="chart_range" style.display='none'>
	<div id="range_output" class='none'>6 Timmar</div>
</div>
